.row1
  height: 65px

.site-header
  margin: 0
  
.site-title
  font-size: 20px
  float: left
  position: relative
  font-weight: normal

  .site-name-top
    position: relative
    top: 0px
    left: 10px

  .site-name-bottom
    position: relative
    top: 5px
    left: 50px
  a
    color: black

.csl-container
  float: right
  font-size: 16px
  position: relative
  top: 30px
  right: 22px


.site-search
  margin: 20px 0 0 0
  float: right
  background: $search-box-bg
  -webkit-border-radius: $search-box-radius $search-box-radius
  -moz-border-radius: $search-box-radius / $search-box-radius
  -khtml-border-radius: $search-box-radius / $search-box-radius
  border-radius: $search-box-radius / $search-box-radius

  div
    #s
      color: #AAA
      background: $search-box-bg
      border: 0
      padding: 7px 15px


    #searchsubmit
      border: 0px
      background: url('images/search_mag.png') no-repeat
      cursor: pointer
      width: 29px
      position: relative
      top: 1px