.info-area
  display: table
  width: 100%
  margin: 40px 0 45px
  .info-row
    display: table-row
    width: 100%

    .info-cell
      width: 20%
      display: table-cell

    .info-header
      text-transform: uppercase
      font-size: 16px

      .header
        padding: 0 0 15px 0px
        border-bottom: 3px solid #999
        width: 90%

      &:last-child

        .header
          width: 100%

    .info-box
      padding: 15px 0 0px 0px
      display: table-cell

.announcement-item
  width: 100%
  padding: 10px 0
  border-bottom: 1px solid #DDD

  &:last-child
    border-bottom: none