.flexslider
  border: 0px
  overflow: hidden

  .flex-control-nav
    bottom: 10px

  .flex-control-paging li 
    a
      background: #CCC

    a.flex-active
      background: #909090

.info-area
  display: table
  width: 100%
  margin: 40px 0 45px
  .info-row
    display: table-row
    width: 100%

    .info-cell
      width: 20%
      vertical-align: top

    .info-header
      text-transform: uppercase
      font-size: 11px
      font-weight: bold

      .header
        padding: 0 0 7px 0px
        border-bottom: 3px solid #999
        width: 90%

      &:last-child

        .header
          width: 100%

    .info-box
      padding: 20px 0 0px 0px
      display: table-cell

.announcement-img
  width: 100%

.announcement-item
  width: 100%
  padding: 10px 0
  border-bottom: 1px solid #DDD

  &:last-child
    border-bottom: none