.ministry-page

  .col-left
    float: left
    width: 31%
  .col-right
    float: right
    width: 69%

  .wpcf7
    h5
      margin: 1em 0 0 0
      font-size: 14px
    .ministry-contact-input
      select
        width: 200px
        height: 35px
        background: $search-box-bg
        border: 0
        margin: 5px 0px

      input[type='text']
        background: $search-box-bg
        border: 0
        padding: 10px
        margin: 5px 0px
        width: 180px
		color: #AAAAAA

      .wpcf7-submit
        background: $active-link-color
        color: white
        font-weight: bold
        border: 0
        padding: 8px
        margin: 5px 0px
        width: 100px

.page-church form.splash
  height: 110px
  padding: 10px
  background-color: #999
.page-church form.splash h5
  margin-top: 0px
  margin-bottom: 0px
.page-church .wpcf7 .ministry-contact-input select
  height: 35px
  background: #efefef
  border: 0
  margin: 5px 0px
 .page-church .wpcf7 .ministry-contact-input input[type='text']
  background: #efefef
  color: #AAAAAA
  border: 0
  padding: 10px
  margin: 5px 0px
  width: 191px
 .page-church .wpcf7 .ministry-contact-input .wpcf7-submit
  float: left
  background: #77991f
  color: white
  font-weight: bold
  border: 0
  padding: 8px
  margin: 5px 0px
  width: 80px
 .page-church .ministry-contact-input.form-left
  width:45%
  margin-right:10px
  float:left
 .page-church .ministry-contact-input.form-right
  width: 45%
  margin-right: 25px
  float: left
 .page-church .wpcf7 .ministry-contact-input select
  width: 200px
  height: 35px
  background: #efefef
  border: 0
  margin: 5px 0px
 .page-church .ministry-contact-input.form-left-phone input[type='text']
  float: left
  width: 120px
  margin-right: 10px
 .page-church .ministry-contact-input.form-middle-select .wpcf7 .ministry-contact-input select
  float: left
  width: 70px
  margin-right: 10px
 .page-church .ministry-contact-input.form-middle-select
  float: left
  width: 43%
  margin-right: 15px
 .page-church .ministry-contact-input.form-right-submit
  width:20%
  float: left
.ministry-page .wpcf7 .ministry-contact-input input[type='text']
  background: #efefef
  color: #AAAAAA
  border: 0
  padding: 10px
  margin: 5px 0px
  width: 180px
.ministry-page .wpcf7 .ministry-contact-input .wpcf7-submit
  background: #77991f
  color: white
  font-weight: bold
  border: 0
  padding: 8px
  margin: 5px 0px
  width: 100px

	  .superscript-footnote
	    font-size: 11px

	  .verse
	    font-size: 15px
		font-style: italic