
#primary-nav
  display: table
  width: 100%
  .navbar
    padding: 0 0 20px 0px
    display: table-row
    width: 100%
    .nav-item
      display: table-cell
      width: 20%
      position: relative
      padding: 20px
      text-align: center
      a
        padding: 20px 40px
        margin: 0 4%
        text-transform: uppercase
        color: black