#primary
  width: 75%
  float: left
.sidebar-right
  width: 25%
  float: left

.post-divider
  width: 100%
  height: 1px
  display: block
  background: $medium-grey
  margin-top: 15px

.page, .post
  blockquote
    font-size: 20px
    border: 0
    margin: 0
    padding: 0

  table
    h1,h2,h3,h4,h5
      margin-top: 0
      padding-top: 0

  .alignleft
    float: left