.sermon-series-listings
  width: 100%

  
  td
    height: 80px

.ct_sermon
  width: 95%
  border-bottom: 2px solid #ccc
.social.sermons ul
  padding-left: 0px
.social.sermons ul li
  list-style-type: none