.sermon-list-post
  border-bottom: 2px solid #ccc
  margin: 0 0 20px
  padding: 0 0 20px

  &:last-child
    border: none

  .entry-header
    margin: 0 0 10px

  .entry-title-container
    width: 60%

    .entry-title
      margin: 0px

  .sermon-speaker-container
    vertical-align: bottom

  .sermon-info-container
    .sermon-short-desc
      float: left
      width: 80%
    .sermon-info
      text-align: right
      float: left
      width: 20%

.sermon-series-listings
  width: 100%

  
  td
    height: 150px
    vertical-align: top
    padding: 0 0 15px

    .series-img-container
      

.page-sermon-series
  .page-header
    margin: 0 0 2em

.sermon-post
  margin-bottom: 20px
  padding-bottom: 20px
  border-bottom: 2px solid #ccc

  .entry-header
    .entry-title
      padding: 0 0 10px
      border-bottom: 2px solid #ccc
    .entry-meta

      .comments-cnt
        float: right
.social.sermons ul
  padding-left: 0px
.social.sermons ul li
  list-style-type: none