
.col-two-thirds
  width: 75%
  float: left
  padding-right: 40px
  small
    display: none

.map-directions
  h2
    margin-top: 20px
  form
    margin: 20px 0 40px 0
    input
      padding: 7px
      border: 1px solid #CCC
      background: #EEE
      // -webkit-border-radius: $dir-box-radius $dir-box-radius
      // -moz-border-radius: $dir-box-radius / $dir-box-radius
      // -khtml-border-radius: $dir-box-radius / $dir-box-radius
      // border-radius: $dir-box-radius / $dir-box-radius

      &[type='text']
        width: 293px
      &[type='submit']
        border: 0
        padding: 7px
        margin: 0 0 0 7px
        background-color: #6D8F23
        color: #EFEFEF

.col-one-third
  width: 20%
  float: left
  margin-top: -1em