
.col-two-thirds
  width: 63%
  float: left
  margin-right: 60px
  small
    display: none

.dir-entry-container
  h2
    margin-top: 20px
  form
    margin: 20px 0 40px 0
    input
      padding: 10px
      border: 1px solid #AAA
      font-size: 14px
      -webkit-border-radius: $dir-box-radius $dir-box-radius
      -moz-border-radius: $dir-box-radius / $dir-box-radius
      -khtml-border-radius: $dir-box-radius / $dir-box-radius
      border-radius: $dir-box-radius / $dir-box-radius

      &[type='text']
        width: 240px
      &[type='submit']
        border: 0
        padding: 10px
        margin: 0 0 0 10px
        background-color: #6D8F23
        color: #EFEFEF

.col-one-third
  width: 30%
  float: left